*.jar filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
caches/8.8/transforms/964c18c8d317ffc702e52f8cc3322cd4/transformed/instrumented/instrumented-gradle-api-8.10.jar filter=lfs diff=lfs merge=lfs -text
path/to/gradle-api-8.10.jar filter=lfs diff=lfs merge=lfs -text
caches/8.8/transforms/32bb3d6ccdd6b42dd6c8009de5f8e3ed/transformed/original/gradle-api-8.10.jar filter=lfs diff=lfs merge=lfs -text
caches/jars-9/o_2bf4a1db0da8d53d6c227f9a98c6e720/lib-client.jar filter=lfs diff=lfs merge=lfs -text
caches/8.8/transforms/0341db74c702866241554c9998b7a433/transformed/original/util-8.jar filter=lfs diff=lfs merge=lfs -text
caches/8.8/transforms/317c1c2802ad6dca0a5b313c10ffa670/transformed/instrumented/instrumented-util-8.jar filter=lfs diff=lfs merge=lfs -text
wrapper/dists/gradle-8.8-bin/dl7vupf4psengwqhwktix4v1/gradle-8.8/lib/kotlin-compiler-embeddable-1.9.22.jar filter=lfs diff=lfs merge=lfs -text
