.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
wrapper/
.tmp/
native/
caches/
wrapper/dists/
daemon/8.8/*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### properties ###
/src/main/resources/application.properties

# application 설정 파일 무시
*.properties
/src/main/resources/application.properties
application.properties

